section {
    border: 1px solid black;
    width: 80vw;
    margin: auto;
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 16px;
}

h1 {
    font-size: 1.5rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.3rem;
}

p{
    font-size: 1rem;
}